/* Estilo para el contenedor principal */
#main-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para los encabezados */
h1, h2 {
    text-align: center;
}

/* Estilo para las etiquetas */
label {
    display: block;
    margin: 10px 0 5px;
}

/* Estilo para los botones */
.btn-select, .btn-add, .btn-delete {
    padding: 10px 15px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    color: white;
}

/* Estilo específico para el botón de agregar */
.btn-add {
    background-color: #5cb85c; /* Color para el botón de agregar */
}

/* Estilo específico para el botón de agregar */
.btn-select {
    background-color: #5cb85c; /* Color para el botón de agregar */
}

/* Estilo específico para el botón de eliminar */
.btn-delete {
    background-color: #d9534f; /* Color para el botón de eliminar */
}

    /* Efecto hover para los botones de agregar y eliminar */
    .btn-add:hover, .btn-delete:hover {
        opacity: 0.8;
    }

/* Estilo para la tabla */
.gridview {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

    /* Estilo para las celdas de la tabla */
    .gridview th, .gridview td {
        border: 1px solid #ccc;
        padding: 10px;
        text-align: left;
    }

    /* Estilo para los encabezados de la tabla */
    .gridview th {
        background-color: #f2f2f2;
    }

    /* Efecto hover para las filas de la tabla */
    .gridview tr:hover {
        background-color: #f9f9f9;
    }

/* Estilo para los campos de texto */
input[type="text"], textarea {
    width: calc(100% - 20px); /* Ajustar el ancho */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

    /* Estilo para los campos de texto en estado de foco */
    input[type="text"]:focus, textarea:focus {
        border-color: #5cb85c; /* Color al enfocar */
        outline: none; /* Eliminar el contorno predeterminado */
    }
